@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

.BgLoginScreen{
    display: block;
    width: auto;
    height: 32em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #FFC75F;
}

.LoginTitleBox {
    width: fit-content;
    height: auto;
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: -15px;
}

.BgLogoImageLoginScreen{
    display: block;
    width: 200px;
    height: 200px;
    padding-left: auto;
    margin-right: auto;
    margin-left: -18em;
    padding-right: 6em;
    padding-top: 11em;
    border: none;
    background: url(../../public/logo/BgCloud.png) no-repeat scroll 0em 9em;
    content: url(../../public/logo/Logo.png);
    background-clip: padding-box;
    background-size: 255px 170px;
}

.LoginMainTitle{
    border: none;
    display: block;
    margin-left: 0em;
    margin-right: auto;
    margin-top: -250px;
    text-align: left;
    font-size: 65px;
    font-family: "Love Ya Like A Sister";
    color: white;
}

.LoginUnderTitle{
    border: none;
    display: block;
    margin-left: 0em;
    margin-right: auto;
    margin-top: 30px;
    text-align: left;
    font-size: 50px;
    font-family: "Sanchez";
    color: white;
}

.BgLoginFieldDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0em;
    width: 800px;
    height: 215px;
    border: none;
    box-shadow: 0px 0px 3px 3px #8D8D8D;
    border-radius: 40px;
    background-color: #845EC2;
}

.LoginFieldDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -7em;
    width: 800px;
    height: 180px;
    border: none;
    border-radius: 40px;
    background-color: #FFFFFF;
}

.InputLogin{
    height: 60px;
    width: 600px;
    border: 4px solid #969696;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 40px;
    background: url(../../public/loginImages/KeyboardIcon.png) no-repeat scroll 15px 13px;
    background-size: 60px 35px;
    padding-left: 100px;
    font-size: 30px;
    font-family: "Sanchez";
}

.LoginButton{
    height: 54px;
    width: 54px;
    border: none;
    display: block;
    margin-left: auto;
    margin-right: 40px;
    margin-top: -62px;
    background: url(../../public/loginImages/ArrowButton.png) no-repeat scroll;
    background-size: 54px 54px;
}

.LoginWarnings{
    border: none;
    display: block;
    margin-left: 112px;
    margin-right: auto;
    margin-top: 15px;
    text-align: left;
    font-family: "Sanchez";
}

.BorderlessObject{
    border: none;
}