@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');


.LoginUpperTitle{
    border: none;
    display: block;
    margin-left: 13em;
    margin-right: auto;
    padding-top: 15px;
    text-align: left;
    font-size: 30px;
    font-family: "Love Ya Like A Sister";
    color: white;
}

.LoginUpperTitleUnderline{
    display: block;
    width: auto;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    border: none;
    background-color: #E7B355;
}