
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

#LogoTop{
    display: block;
    position: absolute;
    height: 60px;
    margin-left: 16.5em;
}

#CloudTop{
    display: block;
    position: absolute;
    height: 60px;
    margin-left: 16em;
    
}

.UserPic{    
    position: absolute;     
    border: 3px solid white; 
    margin-top: -15px;
    margin-left: 100px;
    height: 60px;
    width: 60px;
    border-radius: 50%;    
}
.ContainerProfilePage{
    margin-left: 80%;
    margin-top: 15px;
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 40px 0px 0px 40px;
    background-color: rgb(231, 179, 85);
    padding-right: 10px;
}

#UserName{
    position: absolute;
    font-family: "Sanchez";
    font-size: large;
    margin-top: 10px;
    margin-left: 10px;
    
    color: white;
}

.PopUpMenuProfilePage{
    width: 180px;
    height: 200px;
    position: absolute;
    margin-top: 70px;
    background-color: rgb(231, 179, 85);
}





.BgProfileScreen{
    display: block;
    width: auto;
    height: 45em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #FFC75F;
}

.HeaderProfile{
    position: absolute;
    color: white;
    font-size: large;
    width: 400px;
    margin-top: -35em;
    left: 0;
    right: 0;
    font-style: "Sanchez";
    margin-left: auto;
    margin-right: auto;    
}

.Actions{
    position: absolute;
    color: white;
    font-size: large;
    width: 400px;
    margin-top: -35em;
    left: 150px;    
    font-style: "Sanchez";
    margin-left: auto;
    margin-right: auto;  
}

.ActionButton1{
    background-color: rgb(231, 179, 85);
    border: 3px solid white;
    border-radius: 40px 40px;
    font-family: "Sanchez";
    height: 50px;
    width: 150px;
    color: white;
    font-size: large;
   margin-left: -100px;
   margin-top: 30px;
}
.ActionButton2{
    background-color: rgb(231, 179, 85);
    border: 3px solid white;
    border-radius: 40px 40px;
    font-family: "Sanchez";
    height: 50px;
    width: 150px;
    color: white;
    font-size: large;
   margin-left: 20px;
   margin-top: 30px;
}

.History{
    position: absolute;
    color: white;
    font-size: large;
    width: 400px;
    margin-top: -35em;
    right: 150px;    
    font-style: "Sanchez";
    margin-left: auto;
    margin-right: auto; 
}

.HistoryButton{
    background-color: rgb(231, 179, 85);
    border: 3px solid white;
    border-radius: 40px 40px;
    font-family: "Sanchez";
    height: 50px;
    width: 150px;
    color: white;
    font-size: large;
   margin-left: -10px;
   margin-top: 30px;
}