
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

#LogoTop{
    display: block;
    position: absolute;
    height: 60px;
    margin-left: 16.5em;
}

#CloudTop{
    display: block;
    position: absolute;
    height: 60px;
    margin-left: 16em;
    
}

.InputTranslation{
    height: 80px;
    width: 900px;
    border: 5px solid white;    
    display: block;    
    margin-left: auto;
    margin-right: auto;
    margin-top: -150px;
    border-radius:  80px;
    background: url(../../public/loginImages/KeyboardIcon.png) no-repeat scroll 20px 12px;
    background-size: 80px 50px;
    background-color: rgb(239, 239, 239);
    padding-left: 130px;
    font-size: 30px;
}

.OutputTranslationDiv{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
    width: 1000px;
    height: 500px;
    box-shadow: 0 0 15px grey;
    border-radius:  40px;
    text-align: left;
    font-size: 40px;
    font-weight: bold;    
    background-color: whitesmoke;  
}
#BottomColor{
    width: 1000px;
    height: 70px;
    left: 0; 
    right: 0; 
    position: fixed;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 37em;
    border-radius:  0 0 40px 40px;
    box-shadow: 0 0  15px grey;
    background-color: rgb(132, 94, 194);
}

.TranslateButton{    
    position: absolute;    
    background: url(../../public/loginImages/ArrowButton.png) no-repeat scroll 11px 10px transparent;
    background-size: 75px 75px;
    border: 0px;
    margin-top: -94px;
    margin-left: 103.5em;
    height: 100px;
    width: 100px;
      
}

.RemoveButton{    
    position: absolute;    
    background-color: rgb(175, 175, 175);
    color: white;
    font-weight: bold;
    font-family: "Sanchez";
    background-size: 75px 75px;
    font-size: large;    
    margin-left: 30px;
    margin-top: 10px;
    border-radius: 40px 40px;
    height: 50px;
    width: 150px;  
    border-width: 0px;     
}

.OpenPopUp{    
    position: absolute;    
    background: url(../../public/loginImages/user.png) no-repeat scroll -1px -1px transparent;
    background-size: 60px 60px;
    border-width: 3px;
    border: 3px solid white; 
    margin-top: -10px;
    margin-left: 100px;
    height: 60px;
    width: 60px;
    border-radius: 50%;    
}
.ContainerProfile{
    margin-left: 80%;
    margin-top: 15px;
    position: absolute;
    width: 100px;
    height: 40px;
    border-radius: 40px 0px 0px 40px;
    background-color: rgb(231, 179, 85);
    padding-right: 10px;
}

#UserName{
    position: absolute;
    font-family: "Sanchez";
    font-size: large;
    margin-top: 10px;
    margin-left: 10px;
    
    color: white;
}

#space{
    visibility: hidden;
}

.BgTranslationScreen{
    display: block;
    width: auto;
    height: 20em;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #FFC75F;
}

#PopUpMenuProfile{
    width: 180px;
    height: 200px;
    position: absolute;
    margin-top: 70px;
    background-color: rgb(231, 179, 85);
}

#UpArrowPopUp{
    width: 30px;
    height: 30px;
    margin-top: -22px;
    right: 35px;
    position: absolute;
}

.ProfileButton{
    background-color: rgb(231, 179, 85);
    border: 3px solid white;
    border-radius: 40px 40px;
    font-family: "Sanchez";
    height: 50px;
    width: 150px;
    color: white;
    font-size: large;
   margin-left: 15px;
   margin-top: 30px;
}